* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
}
@font-face {
    font-family: 'Asbigan';
    src: url(../fonts/asbigan-4bvvb.ttf);
}

body{ 
    font-family: 'Roboto';
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFE5E1;
}
    header {
        height: 9rem;
        color: white;
        display: flex;
        justify-content: space-between;
    align-items: center;
    background-color: red;
    font-size: 1rem;
}
.contatos {
    background-color: black;
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.redes-link {
    display: flex;
    gap: 1rem;
}
.redes-link i{
    font-size: 1.2rem;
    background-color: #F9C805;
    border-radius: 10rem;
    color: black;
    padding: 10px;
}
.visao{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
}
.visao i{
    font-size: 1.4rem;
}
.visao__container{
    display: flex;
    gap: 1rem;
    color: white;
}

.logo {
    max-width: 12rem;
    max-height: 20rem;
}
.logo img{
    width: 100%;
    height: 100%;
}
.links {
    color: white;
    display: flex;
    width: 50rem;
    justify-content: space-around;
    align-items: center;
}
.social {
    display: flex;
    letter-spacing: 2px;
    display: flex;
    gap: 2rem;
}
.whats {
    display: flex;
    gap: 1rem;
    background-color: #4ebd33;
    padding: 1rem 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.4rem;
    overflow: hidden;
}
.tel{
    display: flex;
    gap: 1rem;
    background-color: #1C2A5F;
    padding: 1rem 3rem;
    border-radius: 2rem;
    color: #d7d7d7;
    font-size: 1.4rem;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 in;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.navigation-manual, .navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
.navigation-manual .manual-btn, .navigation-auto div {
    border: 1px solid red;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.navigation-manual .manual-btn:not(:last-child), .navigation-auto div:not(:last-child){
    margin-right: 10px;
}
.navigation-manual .manual-btn:hover{
    background-color: red;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: red;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: red;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: red;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: red;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
#radio4:checked ~ .primeiro{
    margin-left: -75%;
}
@media screen and (max-width: 900px){
    .img-mobile{
        display: none;
    }
    .navigation-auto, .navigation-manual{
        margin-top: 60%;
    }
}
.hero {
    margin: 10rem 0;
    display: flex;
    gap: 8rem;
    justify-content: center;
    width: 100vw;
    position: relative;
    background-color: red;
}
.hero_image{
    max-width: 50vw;
    max-height: 40rem;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_image img{
    padding-top: 40px;
    width: 35rem;
    margin-bottom: 4rem;
    height: 100%;
}
.hero_apresentation {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fec700;
}

.apresentation {
    font-family: 'Enriqueta';
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}
.apresentation h1{
    text-transform: uppercase;
}
.apresentation h2{
    font-size: 1.8rem;
    color: #ffffff;
}
.row{
    margin-top: 8rem;
    justify-content: center;
    display: flex;
    gap: 2rem;
}
.row img{
max-width: 15%;
max-height: 15%;
}
.rodape{
    background-color: red;
}
.rodape h1{
    text-align: center;
    color: #F9C805;
}
.rodape h2{
    text-align: center;
    color: #ffffff;
}
.catalogo{
    display: flex;
    padding: 32px;
    gap: 3rem;
    flex-wrap: wrap;
}
.card {
    background-color: #F9C805;
    width: 180px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #8d8d8daa;
    
}
.card img {
    
    width: 80%;
    height: 60%;
}
.card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
.card h1{
    justify-content: center;
    font-size: 1.2rem;
}
.card button{
    background-color: red;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;

}