* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 1.7rem;
}

::-webkit-scrollbar-track {
    border-radius: 2.5rem;
    background-color: #ffe5e1;
}

::-webkit-scrollbar-thumb {
    border-radius: 2.5rem;
    background-color: #E11F2A;
}

body {
    font-family: "Enriqueta";
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffe5e1;
}

header {
    height: 9rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E11F2A;
    font-size: 1rem;
}

.contatos {
    overflow-x: hidden;
    background-color: black;
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.redes-link {
    display: flex;
    gap: 1rem;
}

.redes-link i {
    font-size: 1.2rem;
    background-color: #f9c805;
    border-radius: 10rem;
    color: black;
    padding: 10px;
}

.visao {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
}

.visao i {
    font-size: 1.4rem;
}

.visao__container {
    display: flex;
    gap: 1rem;
    color: white;
}

.logo {
    max-width: 12rem;
    max-height: 20rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.links {
    color: white;
    display: flex;
    width: 50rem;
    justify-content: space-around;
    align-items: center;
}

.social {
    display: flex;
    letter-spacing: 2px;
    display: flex;
    gap: 2rem;
    font-family: "roboto";
}

.whats {
    display: flex;
    gap: 1rem;
    background-color: #4ebd33;
    padding: 1rem 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.4rem;
    overflow: hidden;
}

.tel {
    display: flex;
    gap: 1rem;
    background-color: #1c2a5f;
    padding: 1rem 3rem;
    border-radius: 2rem;
    color: #d7d7d7;
    font-size: 1.4rem;
    margin-right: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 46.5rem;
    overflow: hidden;
}

.slider-content {
    width: 100vw;
    height: auto;
    display: flex;
}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: 50rem;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide {
    width: 100%;
}

.hero {
    margin: 10rem 0;
    display: flex;
    gap: 8rem;
    justify-content: center;
    width: 100vw;
    position: relative;
    background-color: #E11F2A;
}

.hero_image {
    max-width: 50vw;
    max-height: 40rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_image img {
    padding-top: 40px;
    width: 50rem;
    margin-bottom: 4rem;
    height: 100%;
}

.hero_apresentation {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fec700;
}

.apresentation {
    font-family: "Enriqueta";
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

.apresentation h1 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.apresentation h2 {
    font-size: 1.8rem;
    color: #ffffff;
}

.row {
    margin-top: 8rem;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.row img {
    max-width: 15%;
    max-height: 15%;
}

.catalogo {
    width: 1250px;
    overflow: hidden;
    display: flex;
    padding: 30px 10px;
    position: relative;
    justify-content: center;
}

.catalogo .product {
    height: 500px;
    width: 400px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 40px;
    transition: 0.5s;
}

.catalogo .product img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.catalogo .product .information {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: center;
    font-size: 15px;
}

.catalogo .product .information button {
    margin-top: 15px;
    width: 100%;
    background: #E11F2A;
    border: none;
    outline: none;
    color: white;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.catalogo .arrasta {
    width: 1250px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
}

.catalogo .arrasta .left,
.right {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    margin: 0 20px;
    cursor: pointer;
}

.rodape h1 {
    text-align: center;
    color: white;
}

.rodape h2 {
    text-align: center;
    color: #ffffff;
}

footer {
    background-color: #E11F2A;
    color: #fff;
    padding: 10px 0;
}
footer h1,h2,p{
    font-size: 1.3rem;
}
.container-footer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
    font-size: 15px;
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.apresentation-footer {
    text-align: center;
    margin-bottom: 20px;
}

.apresentation-footer h1 {
    margin: 0;
    font-size: 24px;
}

.apresentation-footer h2 {
    margin-top: 5px;
    font-size: 18px;
    color: white;
    padding-top: 1%;
    
}
.texto__footer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.contatos__footer{
    display: flex;
    flex-direction: column;
}

.numero{
    font-family: 'roboto';
}
.container-footer li  p {
    min-width: 4rem;
}
.redes-socias-footer img {
    width: 30px;
    height: auto;
    margin: 0 1rem;
    
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li p {
    margin: 10px;
}

ul {
    width: 200px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    ul {
        width: 100%;
        text-align: center;
    }
}